<footer class="bg-dark text-center text-white fixed-bottom">
  <div class="container p-2 pb-0">
    <section class="social-media">
        <a class="btn btn-outline-light btn-floating p-1" href="#!" role="button">
            <%= image_tag "footer/social-media/twitter.png", class: "d-inline-block align-top" %>
        </a>

        <a class="btn btn-outline-light btn-floating p-1" href="#!" role="button">
           <%= image_tag "footer/social-media/github.png", class: "d-inline-block align-top" %>
        </a>

        <a class="btn btn-outline-light btn-floating p-1" href="#!" role="button">
            <%= image_tag "footer/social-media/linkedin.png", class: "d-inline-block align-top" %>
        </a>
    </section>
  </div>

  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/"> Aurel Ioan Patrutiu </a>
  </div>
</footer>